



.font {
font-family: 'Rubik', sans-serif;

}

.side {
font-family: 'Work Sans', sans-serif;
font-size: 15px;
}


.image {
  height: 600px;
  width: 600px;
  float:left;
  text-align: left;


}

.text {
  font-size: 20px;
  padding-left: 100px;
  padding-bottom: 30px;
  float: right;
  text-align: left;
  margin-top: 150px;
}

.go {
padding-top: 30px;
}


.contact{
		height: 70%;
		width: 70%;
		padding: 3% 15%;
		
	}
	.col-md-3{
		background: #FF9AA2;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
	
	.op {
	font-family: 'Nanum Gothic', sans-serif;
	}
    
  .label{
  background: #FF9AA2;
  border: 2px solid black;
  border-radius: 7px;
  }
  
.or {
 align-items: center;
 text-align: center;
font-family: 'Ubuntu', sans-serif;
}