<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>text summarizer</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


 </head>
 
 
<body style = "background-color: #f8ceec; background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid-nav">
    <a class="navbar-brand font" href="#">ADAPTIVE TEXT SUMMARIZER</a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarText">
    
    <span class="navbar-text side">
       No more sleepless nights over long essays.
    </span>   
   </div>
 </nav> 
 
<form action="{{ url_for('results')}}"method="post">
<div class="container contact">
	<div class="row">
		<div class="col-md-3" style="background-color:#FF9AA2;">
			<div class="contact-info">
				<img src="{{url_for('static',filename = 'pen.png')}}" alt="image"/>
				<h2>Let's Get Started!</h2>
				<h4>What text would you like us to summarize?</h4>
			</div>
		</div>
		
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label container" for="fname">No. of lines to be summarized into:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" name="lines" placeholder="Enter a Number" required="required">
				  </div>
				</div>
				
				<div class="form-group">
				  <label class="control-label container" for="fname">Enter URL for the article to be summarized:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" name="url" placeholder="Enter URL">
				  </div>
				</div>
				<div class="container or">
				<h3><span class="label" align="center">OR</span></h3>
				</div>

				
		<div class="form-group">
		 <label class="control-label container" for="comment">Enter text to be summarized:</label>
			<div class="col-sm-10">
			  <textarea class="form-control" rows="8" id="comment" name="text" placeholder="Your text here"></textarea>
			</div>
		</div>
		
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Summarize</button>
				  </div>
				</div>
				
			</div>
		</div>
	</div>
</div>
</form>
</body>
</html>

